.model-sync {
    position: relative;
}

.refresh-btn {
    cursor: pointer;
    margin-left: 8px;

    &:hover {
        color: #007cbb;
    }
}

.option-right {
    padding-right: 16px;
}

/* stylelint-disable */
.rightPos {
    position: absolute;
    right: 35px;
    margin-top: 20px;
    z-index: 100;
    height: 32px;
}

.policy-name {
    font-weight: 500;
}

.cron {
    margin-left: 6px;
    font-family: monospace;
    color: #565656;
}

.revision {
    font-family: monospace;
}

.text-muted {
    color: #8c8c8c;
}

.executions {
    margin-top: 32px;

    .executions-header {
        align-items: flex-end;
        padding-right: 16px;
    }

    .policy-ref {
        margin-left: 8px;
        font-weight: 400;
        color: #565656;
    }
}
