.refresh-btn {
    cursor: pointer;
}

.refresh-btn:hover {
    color: #007cbb;
}

.option-right {
    padding-right: 16px;
    margin-top: 36px;
    margin-bottom: 11px;
}

.execution-select {
    padding-right: 50px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;

    .filter-tag {
        float: left;
        margin-top: 8px;

        .clr-form-control {
            margin-top: 0;
        }
    }

    .refresh-btn {
        cursor: pointer;
        margin-top: 7px;

        &:hover {
            color: #007cbb;
        }
    }
}

/* stylelint-disable */
.rightPos {
    position: absolute;
    right: 35px;
    margin-top: 20px;
    z-index: 100;
    height: 32px;
}

.fiter-task {
    margin-left: 0.4rem;
    margin-top: 0.05rem;
}

.model-sync-row {
    position: relative;
}

.jobList {
    padding-left: 0;

    .jobsRow {
        height: 60px;
        display: flex;

        .option-left-down {
            margin-top: 36px;
        }
    }
}

clr-datagrid {
    ::ng-deep .datagrid-table {
        position: static;
    }
}

.flex-items-xs-between {
    display: flex;
    justify-content: space-between;
}

.list-policy {
    padding-bottom: 15px;
}

.text-alignment {
    vertical-align: text-bottom;
}

.min-width {
    min-width: 236px;
}

.col-width {
    min-width: 140px;
}

.status-width {
    min-width: 130px;
}

.trigger {
    width: 180px;
}
